@font-face {
  font-family: 'buendia';
  src: url('./fonts/buendia-regular.woff2') format('woff2'),
       url('./fonts/buendia-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'buendia';
  src: url('./fonts/buendia-italic.woff2') format('woff2'),
       url('./fonts/buendia-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

* {
    box-sizing: border-box;
}

:root {

    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family: 'buendia', sans-serif;
    --color-bg: #f9ebd2; /*#F9F1E3;*/
    --color-accent: #FF571D;
    --color-text: #333;
    --color-map: #e7e7e8;
    --bege-escuro: #F6E9CD;
    --preto: #4c4c4c;

    --color-desierto: #FFA439;
    --color-semidesierto: #F2D6BA;
    --color-semibosque: #6C8B3C;
    --color-bosque: #1A5B2E;

    background-color: var(--color-bg);

}

@media (max-width: 375px) and (max-height: 600px) {
    :root {
      font-size: 12px; /* 10px */
    }
}



body {

    margin: 0;
    padding: 0;

}

header.top-bar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 2;

}

/* HAMBURGER MENU */

button.btn-menu {

    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 25px;
    margin-right: 25px;

}

.top-bar-dashboard button.btn-menu {
    margin-top: 0;
}

.btn-menu-img {
    stroke: var(--color-accent);
    display: block;
    width: 60px;
    height: 60px;
    stroke-width: 5px;
    stroke-linecap: round;
}

.btn-menu-img .line-top { transform-origin: 12.5% 12.5%; }
.btn-menu-img .line-bottom { transform-origin: 12.5% 75%; }
.btn-menu-img .line-mid    { transform-origin: 87.5% 25%; }

.btn-menu-img line {
    transition: transform .5s, opacity .5s;
}

button.btn-menu:hover .line-bottom {
    transform: translate(0, -50%) rotate(60deg);
}

button.btn-menu:hover .line-mid {
    transform: rotate(-60deg) translate(0, -25%);
}

button.btn-menu[data-state="close menu"] .line-bottom {
    transform: rotate(-45deg);
}

button.btn-menu[data-state="close menu"] .line-top {
    transform: rotate(45deg) translate(12.5%, 0);
}

button.btn-menu[data-state="close menu"] .line-mid {
    opacity: 0;
}

.btn-menu-content {
    position: absolute;
    top: 81px;
    right: 0;
    background-color: var(--color-accent);
    z-index: 3;
    transition: transform .4s;
    transform: translateX(100%);
}

header.show-menu .btn-menu-content {
    transform: translateX(0);
}

.btn-menu-content ul {
    padding: 1rem;
    margin: 0;
}

.btn-menu-content li {
    list-style: none;
    text-align: right;
}

.btn-menu-content li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}
.btn-menu-content li a:hover {
    background-color: white;
    color: var(--color-accent);
}

/* */

.container {
    /*border: 3px solid green;*/
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container > .text-container {

    width: 100%;
    height: unset;
}

#map {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
    transition: opacity .5s;
    opacity: 1;

}

#map.opaque {

    opacity: 0.3;

}

.text-container {

    background-color: transparent;


}

.text-slide {

    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;

}

/***** Opening *****/

[data-slide="opening"] {

    padding: 3rem;
    display: flex;
    align-items: center;

}

[data-slide="opening"] .text-slide-inner-wrapper {

    max-width: 500px;
    margin-left: 2rem;

}

[data-slide="opening"] * + * {
    margin-top: 1.5rem;
}

[data-slide="opening"] p {

    font-size: 1.3rem;

}

[data-slide="opening"] h1.goo {
    font-size: 3rem;
    line-height: 1.35;
    display: inline;
    box-decoration-break: clone;
    background: var(--color-accent);
    padding: 0.5rem 1rem;
    filter: url('#goo');
    color: var(--color-bg);
}

[data-slide="opening"] .subtitle, 
[data-slide="opening"] .btn-descubra a, 
[data-slide="opening"] .btn-vaya-datos a {
    padding: 0.5rem 1rem;
}

[data-slide="opening"] a {
    text-decoration: none;
    font-style: italic;
    font-family: Serif;
}

[data-slide="opening"] .btn-descubra {
    position: relative;
}

[data-slide="opening"] .btn-descubra .btn-descubra-star {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, calc(-50% + 1rem));
    height: 100px;
}


[data-slide="opening"] .btn-descubra a {
    color: var(--color-bg);
    border-radius: 10px;
    background-color: var(--color-accent);
    z-index: 2;
    position: relative;
}

[data-slide="opening"] .btn-vaya-datos a {
    color: var(--color-accent);
    text-decoration: underline;
}


/***** Page 2 *****/


[data-slide="country selection"] .text-slide-inner-wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100%;

}

[data-slide="country selection"] .text-slide-inner-wrapper > div {
    place-content: center;
    grid-row: 2/3;
}

[data-slide="country selection"] .text-slide-inner-wrapper .menu-paises-wrapper {

}

[data-slide="country selection"] ul.menu-paises {

    padding: 0;
}

[data-slide="country selection"] ul.menu-paises li + li {

    margin-top: 1em;

}

[data-slide="country selection"] ul.menu-paises li {
    font-size: 2rem;
    list-style: none;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    /*padding: .5rem 0 .5rem 2rem;*/
    margin-right: 2rem;
    height: 3rem;
    padding-left: 2rem;
}

[data-slide="country selection"] ul.menu-paises li a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[data-slide="country selection"] ul.menu-paises img {

    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 1px solid currentColor;
    transform: translateX(25%);

}

[data-slide="country selection"] .slide-main-text {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
    position: relative;
}

[data-slide="country selection"] .slide-main-text p {
    margin: 0;
    position: relative;
    z-index: 1;
    transform: translate(0, -10vh);
}

[data-slide="country selection"] .quiere-explorar-star {
    position: relative;
    display: block;
    width: 100%;
    height: 33%;
    transform: translate(0, 10vh);
}

/***** Page 3 *****/

.narrative .text-slide-inner-wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100%;

}

.narrative .text-slide-inner-wrapper .placeholder-map {

    grid-row: 2/3;
    grid-column: 1/2;

}

.narrative .text-slide-inner-wrapper .slide-main-text {

    grid-row: 2/3;
    grid-column: 2/3;
    place-content: center;

}

.narrative .text-slide-inner-wrapper .slide-main-text p {
    
    font-size: 2rem;
    max-width: 800px;
    margin: 0 3rem;
    line-height: 1.2;

}

.narrative .text-slide-inner-wrapper .wrapper-arrow {
    
    grid-row: 3/4;
    grid-column: 2/3;
    stroke: var(--color-accent)
}

span.highlight {
    /*background-color: var(--color-accent);*/
    color: var(--color-text);/*var(--color-bg);*/
    padding: 0.1rem 0.5rem;
    border-radius: 10px;
}

span.highlight[data-tipo-paisage="bosque"] {
    color: var(--color-bg);
}

[data-tipo-paisage] {
    background-color: var(--local-color);
}

[data-story-text] {
    font-weight: bold;
}


/******* DASHBOARD *********/

.dashboard-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: initial;
    /*border: 2px solid hotpink;*/
    display: flex;
    flex-direction: column;
}

.top-bar-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-accent);
    color: white;
}

.dashboard-wrapper .btn-menu-img {
    stroke: white;
}

.dashboard-wrapper .btn-menu {
    margin-left: initial;
}

div.logo-wrapper {
    width: 60px;
    background-color: white;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}

.main-dashboard {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main-dashboard > div {
    flex: 0 0 50%;
    /*border: 1px solid gold;*/
}

/* MAP PANEL */

.map-panel-container,
.text-panel-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.text-panel-container[data-view="latam"] .place-summary,
.text-panel-container[data-view="latam"] .place-paisage-composition {
    display: none;
}

.map-panel-container > div {
    /*border: 1px solid pink;*/
}

/* MENU TIPO PAISAGE */

.menu-tipo-paisage {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: 1rem;
    width: /*100%;*/ 50vw;
}

[data-tipo-paisage="desierto"] {--local-color: var(--color-desierto);}
[data-tipo-paisage="semidesierto"] {--local-color: var(--color-semidesierto);}
[data-tipo-paisage="semibosque"] {--local-color: var(--color-semibosque);}
[data-tipo-paisage="bosque"] {--local-color: var(--color-bosque);}


.menu-tipo-paisage .img-paisage-container {
    
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background-color: var(--local-color);

}

.menu-tipo-paisage img[data-icone] {
    height: 100%;
    display: block;
    margin: 0 auto;

}

div[data-tipo-paisage] {
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: flex-grow .5s, flex-shrink .5s;
    flex: 1;
    border: 1px solid var(--local-color);
}

.menu-tipo-paisage.tipo-paisage-has-selection div[data-tipo-paisage] {
    /*flex: 0 1 50px;*/
    flex: 0;
}

.menu-tipo-paisage.tipo-paisage-has-selection div[data-tipo-paisage]:hover {
    flex-grow: 0.5;
}

.menu-tipo-paisage.tipo-paisage-has-selection div[data-tipo-paisage].tipo-paisage-selected {
    flex: 1;
    border-color: var(--color-accent);
}

p.description-tipo-paisage {
    margin: 0;
    text-transform: uppercase;
    font-size: .8rem;
    padding-left: .5em;
    padding-right: .5em;
    /*margin-left: .5rem;*/
}

.menu-tipo-paisage.tipo-paisage-has-selection p.description-tipo-paisage {
    display: none;
}

.menu-tipo-paisage.tipo-paisage-has-selection div[data-tipo-paisage].tipo-paisage-selected p.description-tipo-paisage {
    display: block;
}

#map-dashboard {
    flex-grow: 1;
    background-color: gray;
}

/* MENU PAIS */

.menu-pais-dash {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 0;
}

.menu-pais-dash > div[data-pais] {
    /*margin-right: 1rem;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 4rem;
    /*flex: 1 1 15%;*/
}

.menu-pais-dash > div[data-pais].unavailable {
    pointer-events: none;
    filter: grayscale();
}

div[data-pais] > img {
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid transparent;
    border-radius: 50%;
    margin-right: .5rem;
}

div[data-pais].pais-selected > span {
    font-weight: bold;
    color: var(--color-accent);
}

div[data-pais].pais-selected > img {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
}

div[data-pais]:hover {
    font-weight: bold;
}

div[data-pais]:hover img {
    /*box-shadow: 2px 2px currentColor;*/
    border-color: black;
}


/* SELECT UBICACIÓN */

div.seleccione-ubicacion-container {

    width: 100%;
    padding: 1rem;

}

#dash-ubicacion {

    width: 100%;
    height: 2rem;
    background-color: transparent;
    border: 2px solid currentColor;
    border-radius: 5px;
    font-family: inherit;
}

/* TEXT PANEL */

.text-panel-container .expand-card-mobile {
    display: none;
    background-color: transparent;
    border: none;
}

.text-panel-container {
    padding: 1.2rem;
}

.text-panel-container h2 {
    margin: 0;
    font-size: 2em;
    font-style: italic;
    color: var(--color-accent);
}

.text-panel-container[data-classification-localidad="desierto"] h3[data-resumen-campo="classification"] { color: var(--color-desierto); }
.text-panel-container[data-classification-localidad="semidesierto"] h3[data-resumen-campo="classification"] { color: var(--color-semidesierto); }
.text-panel-container[data-classification-localidad="semibosque"] h3[data-resumen-campo="classification"] { color: var(--color-semibosque); }
.text-panel-container[data-classification-localidad="bosque"] h3[data-resumen-campo="classification"] { color: var(--color-bosque); }

span[data-resumen-tipo-classificacao] {
    display: none;
}

.text-panel-container[data-classification-localidad="desierto"] span[data-resumen-tipo-classificacao="desierto"],
.text-panel-container[data-classification-localidad="semidesierto"] span[data-resumen-tipo-classificacao="semidesierto"],
.text-panel-container[data-classification-localidad="semibosque"] span[data-resumen-tipo-classificacao="semibosque"],
.text-panel-container[data-classification-localidad="bosque"] span[data-resumen-tipo-classificacao="bosque"] {
    display: initial;
}

.text-panel-container .author {
    font-style: italic;
}

/* BREADCRUMBS */

.breadcrumbs {
    text-transform: uppercase;
}

.breadcrumbs > span {
    cursor: pointer;
}

.breadcrumb-ut-maior::before,
.breadcrumb-ut-menor::before {
    content: "|";
    margin: 1rem;
}

.breadcrumb-country:hover,
.breadcrumb-ut-maior:hover {

    color: var(--color-accent);

}

.breadcrumbs .breadcrumb-inativo {
    display: none;
}

/* PLACE SUMMARY */

.place-summary .info-sin-datos {
    display: none;
}

.place-summary.sin-datos .info-sin-datos {
    display: initial;
}

.place-summary.sin-datos .info-con-datos {
    display: none;
}

[data-summary-field="POPULATION"],
[data-summary-field="AREA"] {
    display: inline;
}


/* BARCHART PAISAGE COMPOSITION */

.place-paisage-composition {
    display: flex;
    flex-direction: row;
}

.place-paisage-composition > span {
    flex: 0 0 25%;
    height: 1.5rem;
    transition: flex-basis 0.4s;
    position: relative;
}

span[data-barchart="sin datos"] {
    flex-basis: 0;
}


span[data-barchart="sin datos"] {background-color: grey;}
span[data-barchart="desierto"] {background-color: var(--color-desierto);}
span[data-barchart="semidesierto"] {background-color: var(--color-semidesierto);}
span[data-barchart="semibosque"] {background-color: var(--color-semibosque);}
span[data-barchart="bosque"] {background-color: var(--color-bosque);}

[data-classification-localidad="sin datos"] .place-paisage-composition > span,
[data-classification-localidad="desierto"] .place-paisage-composition > span,
[data-classification-localidad="semidesierto"] .place-paisage-composition > span,
[data-classification-localidad="semibosque"] .place-paisage-composition > span,
[data-classification-localidad="bosque"] .place-paisage-composition > span {
    flex-basis: 0;
}

[data-classification-localidad="sin datos"] .place-paisage-composition > span[data-barchart="sin datos"],
[data-classification-localidad="desierto"] .place-paisage-composition > span[data-barchart="desierto"],
[data-classification-localidad="semidesierto"] .place-paisage-composition > span[data-barchart="semidesierto"],
[data-classification-localidad="semibosque"] .place-paisage-composition > span[data-barchart="semibosque"],
[data-classification-localidad="bosque"] .place-paisage-composition > span[data-barchart="bosque"] { 
    flex-basis: 100%;
}

span[data-barchart] .barchart-label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: .8em;
    transform: translate(-50%, -50%);
}

span[data-barchart] .barchart-label.displaced {
    transform: translate(-50%, 100%);
}


/* BUTTONS NAV DATOS RELATO MEDIO */

.wrapper-btns-nav {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.wrapper-btns-nav > button {
    font-size: 1.2rem;
    padding: .5em 1em;
    border-radius: 10px;
    font-style: italic;
    background-color: transparent;
    color: var(--color-accent);
    border: 1px solid currentColor;
    transition: flex-basis .3s;
    font-family: 'buendia';
    text-transform: uppercase;
}

.wrapper-btns-nav[data-modo="localidad"] > button { flex-basis: 50%; }
.wrapper-btns-nav[data-modo="provincia"] > button { flex-basis: 33%; }

.wrapper-btns-nav > button:hover {
    box-shadow: 2px 2px var(--color-accent);
}

.wrapper-btns-nav > button.btn-nav-active:hover {
    box-shadow: none;
}

.wrapper-btns-nav > button.btn-nav-active {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.wrapper-btns-nav > button.btn-hidden {
    display: none;
}

/* CONTEUDO */

.text-panel-container .conteudo {
    font-size: 0.9rem;
    font-family: "Inconsolata";
    flex-basis: 100%;
    position: relative;
    /*border: 1px dashed green;*/
}

.text-panel-container .conteudo [data-tipo-conteudo="apresentacao"] {
    font-size: 1.2rem;
}

p.teaser {  /******** ARRUMAR ISSO NOS DADOS, TIRAR AS TAGAS ***/
    display: inline; 
    margin: 0;
}

.text-panel-container .conteudo .leer-mas {
    font-weight: bold;
    background-color: var(--preto);
    padding: 2px 4px;
    font-size: .8em;
    color: var(--color-bg);
}

.localidad-informe-provincia {
    border-top: 1px solid currentColor;
    padding-top: 1rem;
}

/* in the case of colombia, there's no need to refer back to the provincia, since the relato will be placed directly in the localidad view! crazy, I know. */
[data-country="colombia"] .localidad-informe-provincia {
    display: none;
}

[data-tipo-conteudo="relato"].expandido .leer-mas,
.relato-colombia-localidad.expandido .leer-mas {
    display: none;
}

div.container-teaser-relato {
    padding-bottom: .5rem;
}

[data-relato-campo="MEDIO"], [data-relato-colombia-campo="MEDIO"] {

    padding-top: .5rem;
    border-top: 1px solid currentColor;

}

[data-relato-campo="TITLE"], [data-relato-colombia-campo="TITLE"] {
    font-size: 1.3rem;
    margin: 0;
}

[data-relato-campo="AUTHOR"], [data-relato-colombia-campo="AUTHOR"] {
    font-size: 1rem;
}

[data-tipo-conteudo="relato"].expandido [data-relato-campo="AUTHOR"] { display: none; }
[data-tipo-conteudo="relato"].expandido [data-relato-campo="RELATO"] { display: initial; }
[data-tipo-conteudo="relato"].recolhido [data-relato-campo="AUTHOR"] { display: initial; }
[data-tipo-conteudo="relato"].recolhido [data-relato-campo="RELATO"] { display: none; }

.relato-colombia-localidad.expandido [data-relato-colombia-campo="AUTHOR"] { display: none; }
.relato-colombia-localidad.expandido [data-relato-colombia-campo="RELATO"] { display: initial; }
.relato-colombia-localidad.recolhido [data-relato-colombia-campo="AUTHOR"] { display: initial; }
.relato-colombia-localidad.recolhido [data-relato-colombia-campo="RELATO"] { display: none; }


.leer-mas:hover {
    color: var(--color-accent);
}

.text-panel-container .conteudo > [data-tipo-conteudo] {
    height: 100%;
    transition: transform 1s, opacity .25s;    
    /*transform: rotate(45deg) translate(100% ,100%);*/
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

[data-tipo-conteudo] h3,
[data-tipo-conteudo] p.medio {
    margin-top: 0;
}

.text-panel-container .conteudo > [data-tipo-conteudo].conteudo-active {
    /*transform: rotate(0) translate(0,0);*/
    opacity: 1;
    pointer-events: initial;
}

@media (max-width: 900px) {
    
    .main-dashboard {
        height: 100%;
        position: relative;
        display: block;
    }

    h1.title {
        font-size: 1rem;
    }

    .menu-tipo-paisage {
        width: 100%;
    }

    .text-panel-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(0, 90%);
        background-color: var(--color-bg);
        transition: transform .5s;
        z-index: 3; /* para ficar acima do "i" do mapbox */
    }

    /* BUTTON */

    .text-panel-container .expand-card-mobile {

        display: block;

    }

    .text-panel-container .expand-card-mobile line {

        transition: transform .5s .5s;
        transform-origin: 50% 50%;

    }

    .text-panel-container.expanded-mobile .expand-card-mobile line {
        transform: rotate(180deg);
    }

    .text-panel-container.expanded-mobile {
        transform: translate(0, 0);
    }

    /* story */

    .narrative .text-slide-inner-wrapper {

        grid-template-columns: 1fr;


    }

    .narrative .text-slide-inner-wrapper .placeholder-map {

        display: none;

    }

    .narrative .text-slide-inner-wrapper .slide-main-text {

        grid-row: 2/3;
        grid-column: 1;
        place-content: center;

    }

    .narrative .text-slide-inner-wrapper .wrapper-arrow {
        
        grid-row: 3/4;
        grid-column: 1;
        stroke: var(--color-accent)
    }

    .narrative .text-slide-inner-wrapper .slide-main-text p {
        font-size: 1rem;
    }

    /* country selection */

    [data-slide="country selection"] .text-slide-inner-wrapper {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 4fr 1fr;
        height: 100%;

    }

    [data-slide="country selection"] .text-slide-inner-wrapper .slide-main-text {
        grid-row: 2/3;
    }
    
    [data-slide="country selection"] .text-slide-inner-wrapper .menu-paises-wrapper {

        grid-row: 3/4;

    }

    [data-slide="country selection"] .slide-main-text {

        font-size: 1.5rem;
    }

    [data-slide="country selection"] .text-slide-inner-wrapper .slide-main-text p {
        transform: none;
    }

    [data-slide="country selection"] .quiere-explorar-star {
        display: none;
    }

    [data-slide="country selection"] ul.menu-paises li {
        height: 1.5rem;
        font-size: 1.5rem;
    }

    [data-slide="country selection"] ul.menu-paises img {
        width: 2.5rem;
        height: 2.5rem;
    }


    [data-slide="opening"] p {
        font-size: 1rem;
    }

    [data-slide="opening"] {
        padding: 1rem;
    }

    [data-slide="opening"] h1.goo {
        font-size: 1.5rem;
    }

    .btn-menu-img {
        transform: scale(0.5);
    }


}